.carrito-h1 {
  text-align: center;
}

.comprar {
  display: flex;
  justify-content: center;

  &__button {
    font-size: 20px;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    color: rgb(237, 88, 7);
    background: #ffd600;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 12px 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease; /* Agregado box-shadow a la transición */

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &:hover {
      background: #ffa900;
      transform: scale(1.05);
    }

    &:active {
      /* Estilo al hacer clic */
      background: #ff8000; /* Cambio de color */
      transform: scale(0.95); /* Reducción de escala al hacer clic */
      box-shadow: none; /* Quita la sombra al hacer clic */
    }
  }
}

.tabla-carrito {
  border-collapse: collapse;
  width: 95%;
  margin: 1rem auto;

  th,
  td {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
  }

  .button-carrito {
    color: white;
    background-color: rgb(213, 7, 169);
    &:hover {
      background-color: #8b0860;
    }
  }
}

@media (max-width: 768px) {
  .tabla-carrito {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
  }
  tr,
  th,
  td {
    min-width: 120px;
  }
}
