body {
  background-image: url('/public/img/fondo.avif'); /* Ajusta la ruta a tu imagen */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.section-cards {
    padding: 1em;
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
  }