/* ------------------------------------- */
/* HEADER                                */
/* ------------------------------------- */

.main-header {
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    & {
      flex-direction: column-reverse;
    }
  }
}

#menu {
  display: none;

  &:checked + .nav-bar {
    display: block;
  }

  &:checked ~ .search-bar .menu-toogle__label {
    background-color: gold;
  }
}

/* ------------------------------------- */
/* SEARCH BAR                            */
/* ------------------------------------- */

.search-bar {
  background-color: gold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__htmlForm-label {
    color: rgb(32, 31, 31);
    font-weight: bold;
    margin: 5px 5px 5px 0;
  }

  &__logo-container,
  &__form-container,
  &__carrito-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
  }

  &__logo-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: gold;
    flex: 1;
  }

  &__logo-img {
    transform: scale(2);
  }

  &__form-container {
    background-color: gold;
    display: flex;
    // flex-basis: 100%;
    justify-content: center;
    flex: 6;
  }

  &__form-label {
    padding: 2px;
    font-weight: bold;
  }

  &__form-search {
    background-color: orangered;
    width: 70%;
  }

  &__form-submit {
    padding-inline: 0.5em;
    background-color: darkslategray;
    color: white;
  }

  &__carrito-container {
    flex: 0 0 1em; /* shorthand (grow shrink basis */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
  }

  &__carrito-icon {
    transform: scale(1.5);
  }

  &__carrito-contador {
    margin: 0.2rem;
    color: black;
    text-align: center;
    font-size: 0.7rem;
    font-weight: bold;
    border-radius: 50%;
    clip-path: circle(50% 50% 50% 50%);
    background-color: white;
    z-index: 1;
    width: 1rem;
    height: 1rem;    
  }
}

/* ------------------------------------- */
/* MENU TOOGLE                           */
/* ------------------------------------- */

.menu-toggle {
  display: none;
  background-color: red;
  flex: 0 0 3em;
  position: relative;
  cursor: pointer;

  &__label {
    display: block;
    background-color: black;
    height: 100%;
  }

  &__top-bread,
  &__meat,
  &__bottom-bread {
    display: block;
    background-color: #333;
    height: 0.2em;
    position: absolute;
    left: 0.5em;
    right: 0.5em;
  }

  &__top-bread {
    top: 0.8em;
  }

  &__meat {
    top: 50%;
    margin-top: -0.1em;
  }

  &__bottom-bread {
    bottom: 0.8em;
  }

  @media (max-width: 768px) {
    & {
      display: block;
    }
  }
}
